parameters:
    level: 1
    paths:
        - config.php
        - start.php
        - require.php
        - includes/
        - templates/
    bootstrapFiles:
        - .phpstan/exceptions.php
    ignoreErrors:
        -
            message: '#will always evaluate to true#'
            path: includes/class-fs-plugin-updater.php
        -
            message: '#Variable \$VARS might not be defined#'
            paths:
              - templates/*
