@import "start";

#fs_customizer_upsell {
    .fs-customizer-plan {
        padding: 10px 20px 20px 20px;
        border-radius: 3px;
        background: #fff;

        h2 {
            position: relative;
            margin: 0;
            line-height: 2em;
            text-transform: uppercase;

            .button-link {
                top: -2px;
            }
        }
    }

    .dashicons-yes {
        color: #0085ba;
        font-size: 2em;
        vertical-align: bottom;
        margin-left: -7px;
        margin-right: 10px;

        .rtl & {
            margin-left: 10px;
            margin-right: -7px;
        }
    }

    .button-primary {
        display: block;
        text-align: center;
        margin-top: 10px;
    }
}

#accordion-section-freemius_upsell,
#fs_customizer_support
{
    display: block !important;

    .button {
        float: right;
    }

    .button-group {
        width: 100%;
        display: block;
        margin-top: 10px;

        .button {
            float: none;
            width: 50%;
            text-align: center;
        }
    }
}