.freemius-modal {
	position: fixed;
	overflow: auto;
	height: 100%;
	width: 100%;
	top: 0;
	z-index: 100000;
	display: none;
	background: rgba(0, 0, 0, 0.6);

	.freemius-modal-dialog {
		background: transparent;
		padding-bottom: 30px;
		position: absolute;
		left: 50%;
		margin-left: -250px;
		top: -100%;
		z-index: 100001;
		width: 500px;
		-webkit-transform: translate(0, -500%);
		-ms-transform: translate(0, -500%);
		transform: translate(0, -500%);
		-webkit-transition: -webkit-transform 0.3s ease-out;
		-moz-transition: -moz-transform 0.3s ease-out;
		-o-transition: -o-transform 0.3s ease-out;
		transition: transform 0.3s ease-out;
	}

	&.active {
		display: block;

		&:before {
			display: block;
		}

		.freemius-modal-dialog {
			-webkit-transform: translate(0, 0);
			-ms-transform: translate(0, 0);
			transform: translate(0, 0);
			top: 10%;
		}
	}

	.freemius-modal-body,
	.freemius-modal-footer {
		border: 0;
		background: #fefefe;
		padding: 20px;
	}

	.freemius-modal-body {
		border-bottom: 0;
		border-radius: 5px 5px 0 0;

		h2 {
			font-size: 20px;
		}
		
		> div {
			margin-top: 10px;

			h2 {
				font-weight: bold;
				font-size: 20px;
				margin-top: 0;
			}
		}
	}

	.freemius-modal-footer {
		border-top: #eeeeee solid 1px;
		border-radius: 0 0 5px 5px;
		text-align: right;
		
		> .button {
			margin: 0 7px;

			&:first-child {
				margin: 0;
			}
		}
	}

	.freemius-modal-panel:not(.active) {
		display: none;
	}
	
	.reason-input {
		margin:	3px 0 3px 22px;
		
		input, textarea {
			width: 100%;
		}
	}
}

#the-list .deactivate > .fs-slug {
	display: none;
}