@import "../colors";

.fs-modal.fs-modal-deactivation-feedback {
	.reason-input, .internal-message {
		margin:	3px 0 3px 22px;

		input, textarea {
			width: 100%;
		}
	}

	li.reason {
		&.has-internal-message .internal-message {
			border: 1px solid lighten($darkest-color, 80%);
			padding: 7px;
			display: none;
		}

		@media (max-width: 650px) {
			li.reason {
				margin-bottom: 10px;

				.reason-input, .internal-message {
					margin-left: 29px;
				}

				label {
					display: table;

					> span {
						display: table-cell;
						font-size: 1.3em;
					}
				}
			}
		}
	}

	.anonymous-feedback-label {
		float: left;
	}

    .fs-modal-panel {
        margin-top: 0 !important;

        h3 {
            margin-top: 0;
            line-height: 1.5em;
        }
    }

	&.has-subscription-actions {
		ul.subscription-actions label {
			input {
				float: left;
				top: 5px;
				position: relative;
			}

			span {
				display: block;
				margin-left: 24px;
			}
		}

		.button-primary.warn {
			box-shadow: 0 1px 0 #d2593c;
			text-shadow: 0 -1px 1px #d2593c, 1px 0 1px #d2593c, 0 1px 1px #d2593c, -1px 0 1px #d2593c;
			background: #f56a48;
			border-color: #ec6544 #d2593c #d2593c;

			&:hover {
				background: #fd6d4a;
				border-color: #d2593c;
			}

			&:focus {
				box-shadow: 0 1px 0 #dd6041, 0 0 2px 1px #e4a796;
			}

			&:active {
				background: #dd6041;
				border-color: #d2593c;
				box-shadow: inset 0 2px 0 #d2593c;
			}

			&.disabled {
				color: #f5b3a1 !important;
				background: #e76444 !important;
				border-color: #d85e40 !important;
				text-shadow: 0 -1px 0 rgba(0,0,0,.1) !important;
			}
		}
	}
}

#the-list .deactivate > .fs-slug {
	display: none;
}