.fs-modal.fs-modal-license-key-resend {
	.fs-modal-body {
		.input-container > div {
			overflow: hidden;
			padding-right: 2px;
		}

		input.email-address {
			width: 100%;
		}

		.button-send-license-key {
			float: right;
			margin-left: 10px;

			@media (max-width: 650px) {
				margin-top: 2px;
			}
		}
	}
}

a.show-license-resend-modal {
	margin-top: 4px;
	display: inline-block;
}
