#fs_privacy_license_owner
{
    display:     none;
    margin-top:  10px;
    border:      1px solid #ccc;
    padding:     10px;
    line-height: 1.5em;

    .fs-message
    {
        display:       block;
        margin-bottom: 5px;
        font-size:     1.05em;
        font-weight:   600;
    }
}