@import "../start";
@import "tag";

.fs-switch-label
{
    font-size: 20px;
    line-height: 31px;
    margin: 0 5px;
}

.fs-debug-table-toggle-button {
    font-size: 1.2em;
    cursor: pointer;
    background: transparent;
    border: none;
}

.fs-debug-table {
    overflow: hidden;
}

#fs_log_book {
    table {
        font-family: Consolas,Monaco,monospace;
        font-size: 12px;

        th {
            color: #ccc;
        }

        tr {
            background: #232525;

            &.alternate {
                background: #2b2b2b;
            }

            td {
                &.fs-col--logger {
                    color: #5a7435;
                }
                &.fs-col--type {
                    color: #ffc861;
                }
                &.fs-col--function {
                    color: #a7b7b1;
                    font-weight: bold;
                }
                &.fs-col--message {
                    &, a
                    {
                        color: #9a73ac !important;
                    }
                }
                &.fs-col--file {
                    color: #d07922;
                }
                &.fs-col--timestamp {
                    color: #6596be;
                }
            }
        }
    }
}